body {
  background: #f7f7f7;
}

.bg-green {
  background: #4ab978;

  a, a:visited {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
  }
}

.field_with_errors .form-control {
  border-color: #f2dede;
}
